<html>

<head></head>
<title>Jobfy</title>
</head>

<body>

    <h2>Admin de Vagas:
        <a href="/admin/vagas/">Vagas </a>
    </h2>
    <div>
        <form>
            <label>Título</label>
            <input type="text">
            <label>Descrição</label>
            <textarea></textarea>
            <label>Categoria</label>
            <select>
                <option>Engenharia</option>
                <option>Marketing</option>
            </select>
        </form>


        Título da vaga: Descrição: Categoria:
    </div>


</body>

</html>